@for (player of game.players; track $index) {
<app-player [playerActive]="$index == game.currentPlayer" [name]="player" [ngStyle]="{'top.px': 100 + ($index*80)}" style="top: 130px;" class="player-position"></app-player>
}
<div class="game-container">
    <div class="card-stack-container">
        <!-- Card stack -->
        @for (card of [0,1,2,3]; track $index) {
        <img [ngStyle]="{'right.px': $index*3}" src="./../../assets/img/cards/purple_back.png" alt="card cover png">
        <img (click)="takeCard()" class="top-card" style="right: 12px;" src="./../../assets/img/cards/purple_back.png"
            alt="card cover png">
        }
        <!-- Stack for played card -->
        @for (card of game.playedCards; track $index) {
        <img class="played-card" style="right: 12px;" src="./../../assets/img/cards/{{ card }}.png" alt="card png">
        }
        <!-- Current card (Animation) -->
        @if (pickCardAnimation) {
        <img (click)="takeCard()" class="pick-card" style="right: 12px;"
            src="./../../assets/img/cards/{{ currentCard }}.png" alt="card png">
        }
    </div>
</div>
<app-game-info [card]="currentCard" class="pin-bottom"></app-game-info>
<button mat-fab color="primary" class="btn-add" (click)="openDialog()" aria-label="Example icon button with a delete icon">
    <mat-icon>add</mat-icon>
  </button>